<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="top-bar">
          <div class="top-bar-left">
            <ul class="dropdown menu" data-dropdown-menu>
              <li class="menu-text">Three Strooms || Sign up to receive our top 10 favorite recipes
              </li>
            </ul>
          </div>
          <form>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="First name">
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Enter email">
                <button type="submit" class="btn btn-primary">Submit</button>
              
            </div>
        </div>
        <div class="top-bar">
          <div class="top-bar-left">
            <blockquote class="quote">
              A receipe has no soul. YOU, as the cook, must bring soul to the receipe.
              <cite class="quote">Thomas Keller</cite>
            </blockquote>
          </div>
        </div>
      </div>
    </div>

    <div class="row" id="main">
      <div class="col-12">
        <h2>Welcome to Three Strooms</h2>
  

        {{!--Step 1--}}
        <div class="col-md-4 step1">
            <p class="stepText">Step 1. Add the ingredients you have.</p>

            {{!--Step 1 Sub Row Add Ingredients--}}
            <div class="row">
                <div class="col-md-12">
                  <div id='add'>
    <form class="create-update-form" action="/api/add-ingredient/" method="POST">
        <div class="form-group">
            <label for="newIngredient">Add Ingredient</label>
            <input type="text" class="newIngredient" placeholder="Add Ingredient">
        </div>
        <button class="btn btn-primary" type="submit">Add Ingredient</button>
    </form>
</div>
                    {{!-- <input type="text" class="newIngredient" placeholder="Add Ingredient">
                    <button id="addIngredient" class="btn btn-primary" type="submit">Add Ingredient</button>
                </div>
            </div> --}}
               {{#each Ingredient}}
                <div class="row">
                    <div class="col-8">
                        {{!-- <p class="ingredient" data-id={{id}} id={{id}}>{{label}}</p> --}}
                    </div>
                </div>
            {{/each}}
        </div>
        {{!--Step 1 
            
            {{!--Custom Ingredient--}}
        {{#each Ingredient}}
        <div class="row">
          <div class="col-8">
            <p class="ingredient" data-id={{id}} id={{id}}>{{label}}</p>
          </div>
          <div class="col-2">
            {{!-- <button type="button" data-use="{{used}}" class="useIngredient notused {{id}}"><i class="fas fa-check"></i></button> --}}
          </div>
          <div class="col-2">
            {{!-- <button type="button" data-remove="{{id}}" class="removeIngredient"><i class="fas fa-trash"></i></button> --}}
          </div>
        </div>
        {{/each}}
      </div>

      </button>
    </div>
  </div>
  {{!-- <form class="create-update-form" action="/api/add-ingredient/" method="POST">
        <div class="form-group">
            <label for="dab">Ingredient:</label>
            <input type="text" id="dab" name="ingredient">
        </div>
        <li><button id="submit" type="button" class="button">Add Ingredient</button></li>
    </form>
</div>
         --}}
        {{!-- <div class="callout">
          <h5>This is a callout.</h5>
          <p>It has an easy to override visual style, and is appropriately subdued.</p>
          <a href="#">It's dangerous to go alone, take this.</a>
        </div>
      </div>
    </div> --}}

<!-- Div to add recipes -->
<div class="col-md-8 step2">
  <p class="stepText">Step 2. Get the recipes.</p>
  <button class="getRecipes">Get Recipes</button>
  <div class="container" id="recipeResults"></div>
</div>

</div>
</div>


<!--       <form class="clearfix mb-4" action="POST">
          <div class="form-group">
            <label for="example-text">Example Text</label>
            <input type="text" id="example-text" class="form-control" aria-describedby="example-text"
              placeholder="Enter Example Text">
          </div>
          <div class="form-group">
            <label for="example-description">Example Description</label>
            <textarea class="form-control" id="example-description" aria-describedby="example-description"
              placeholder="Enter Example Description"></textarea>
          </div>
          <button id="submit" class="btn btn-primary float-right">Submit</button>
        </form>
        <h3>Examples:</h3>
        <ul id="example-list" class="list-group">
          {{#each examples}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="example/{{this.id}}">{{this.text}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>
-->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>

